.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; /* Add this line to ensure the parent takes full width of the viewport */
  height: 50vh;
  background: linear-gradient(to bottom, #C191FF, #F8EADD);
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board_row:after {
  clear: both;
  content: '';
  display: table;

}

.status {
  margin-bottom: 10px;
}


.game_info {
  margin-left: 20px;
}

.pink{
  background-color: pink;
}

.yellow{
  background-color: yellow;
}

.winner{
  color: rgb(205, 92, 92);
  font-size: 3rem;
  font-weight: bold;
}