
.page_container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  text-align: center;
  background: linear-gradient(to bottom, #C191FF, #F8EADD);
  height: 100vh;
  overflow: hidden;

}
.top_container{
  display: flex;
  flex-direction: column; /* Stack the two top sections vertically */
  flex-grow: 1; /* Take all the remaining space at the top */
  height: 50vh;
}
.logo_container {
  display: flex;
  flex-direction: column; /* Stack the two top sections vertically */
  flex-grow: 1; /* Take all the remaining space at the top */
  position: relative;
}
.logo{
  width: 40%;
  z-index: 1;
  transition: all 0.5s ease-in-out; /* Smooth transition for all properties */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_center {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 1;
}
.logo_final {
  position: absolute;
  top: 30%; /* Adjust as needed for the final position */
  left: 50%; /* Adjust as needed for the final position */
  transform: translate(-50%, 0) scale(1);
  opacity: 0.5;
}
.logo_text{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F1EEE7;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}
.description_container {
  display: flex;
  flex-direction: column; /* Stack the two top sections vertically */
  flex-grow: 1; /* Take all the remaining space at the top */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: #F1EEE7;
}
.top_section {
  flex: 1; /* Ensure the sections divide space equally */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


.show{
  opacity: 1;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.logo_text p {
  margin-top: 0; /* Remove the margin above the p */
}

.bottom_container {
  height: 40vh; /* Fixed height for the bottom section */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.paper_form_container {
  position: absolute;
  bottom: -1000%; /* Initial position outside the frame */
  left: 50%;
  top : 0;
  width: 100%;
  transform: translate(-50%, 80%) rotate(-45deg);
  transition: bottom 0.3s ease-in-out, transform 0.8s ease-in-out; /* Smooth transition */
  display: flex;
  flex-direction: column;
  align-items: center;

}
.paper_slide_in {
  bottom: 0; /* Final position inside the frame */
  transform: translate(-50%, -30%) rotate(0deg); /* Final angle */
}
.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top : 30%;
}
.form input {
  width: 65%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  color: #0055A8;
  border-bottom: 2px solid #0055A8;
  border-radius: 0;
  background: transparent;
  transition: border-color 0.3s;
  outline: none;
}

.form input::placeholder {
  color: #498FD4;
}
.button_link {
  text-decoration: none; /* Remove default link styling */
  display: flex; /* Ensure it behaves like a block element */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 55%; /* Match button width */
  margin-top: 2rem; /* Match button margin */
}

.login_button {
  background-color: #149C7A;
  color: #F1EEE7;
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 0.6rem;
  width: 100%; /* Take full width from parent */
  border: none;
  cursor: pointer;
}

.form button:hover {
  background: #F1EEE7;
}

.form p{
  width: 65%;
  color: #498FD4;
  font-size: 1rem;
  margin: 0;
  text-align: right;
}

.error_message {
  content: "";
  width: 65%;
  color: red;
  font-size: 0.9rem;
  text-align: left; /* Align the error message to the left */
  padding-left: 0.5rem;

}
.form input:user-invalid {
  color: red;
}

.password_container{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.passwordIcon{
  width: 65%;
  display: flex;
  position: absolute;
  align-items: center;
}
.passwordIcon img{
  position: absolute;
  right: 0;
  width: 2rem;
}